.inbox-container {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
 
}

.inbox-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #202124;
}

.mat-table {
  width: 100%;
  overflow: hidden;
}

.mat-header-cell,
.mat-cell {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-size: 14px;
  color: #202124;
}

.mat-header-cell {
  background-color: #f1f3f4;
}

.mat-cell {
  background-color: #fff;
}

.star-icon {
  cursor: pointer;
}

.star-icon:hover {
  background-color: #f0f0f0;
}

.mat-row:first-child .mat-cell {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.mat-row:last-child .mat-cell {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
